$pdf-tables: true !default;
@if $pdf-tables {

	// Tables

	table {
		border-collapse: collapse;
		margin: $line-height-default 0;
		font-size: $font-size-table !important;
		width: 100%;
		max-width: $page-width - $margin-inside - $margin-outside;
	}

	.table {
		clear: both;
		margin: $line-height-default 0 0 0;
		font-size: $font-size-table !important;
		padding: 0;
        width: 100%;
		page-break-inside: avoid;
		box-sizing: border-box;
        background-color: inherit;
        font-family: $font-text-secondary;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;

		.table-body {

			p {
				clear: both;
				page-break-inside: avoid;
				page-break-before: avoid;
				text-align: left;
				text-indent: 0;
				hyphens: none;
	
				// We avoid using these variables in outputs like web
				// where font sizes are set in ems (i.e. proportionally).
				// But here where we set font sizes in absolute units (pt)
				// it's safe and useful to control font size in this way.
				font-size: $font-size-default * $font-size-smaller;
			}

			.table-images {
				text-align: center;
				margin-bottom: $line-height-default;
				padding-bottom: $line-height-default;
			}
	
			.table-html, .table-md {}
	
			.title {}
	
			// Descriptions are hidden by default, and used for image alt text
			.description {
				display: none;
			}
	
			.caption {
				page-break-after: avoid;
				margin: 0;
				text-align: left;
				text-indent: 0;
				.table-reference {
					font-weight: bold;
				}
			}
		}
	}
	thead, th, .table-subhead {
		font-weight: bold;
		page-break-after: avoid;
	}
	tr {
		page-break-inside: avoid;
	}
	th, td {
		border-top: $rule-thickness solid $color-mid;
		border-bottom: $rule-thickness solid $color-mid;
		border-left: 0;
		border-right: 0;
		line-height: $line-height-table;
		padding: ($line-height-default * 0.3) ($line-height-default * 0.4);
		vertical-align: top;
		page-break-inside: avoid;
		p, ul, ol, dl {
			margin: 0;
			padding: 0;
			text-align: left;
		}
	}
	.table-row-stub {
		font-weight: bold;
	}
	.table-caption {
		page-break-after: avoid;
		font-style: italic;
		text-indent: 0;
		margin: $line-height-default 0 0 0;
		& em {
			font-style: normal;
		}
	}
	.table-no-padding {
		padding: 0!important;
		th, td {
			padding: 0!important;
		}
	}
	.table-columns-fixed {
		table-layout: fixed;
	}
	.table-no-border {
		border: none!important;
		border-spacing: 0;
		padding: 0;
		th, td {
			border: none!important;
			padding: ($line-height-default * 0.3) ($line-height-default * 0.4);
		}
	}
	.table-text-center {
		text-align: center;
	}
}
